
/* 
============================================
PRIMARY COLOURS
============================================
*/

/* -> PRIMARY COLOUR */
$primary-color : #DB0011;

/* -> PRIMARY COLOUR HOVER STATE */
$primary-color--hover: #A4000D;

/* -> PRIMARY COLOUR FOCUS STATE */
$primary-color--focus: #83000A;


/* 
============================================
SECONDARY COLOURS
============================================
*/

/* -> SECONDARY COLOUR */
$secondary-color : #4D6474;

/* -> SECONDARY COLOUR HOVER STATE */
$secondary-color--hover: #3E505D;

/* -> SECONDARY COLOUR FOCUS STATE */
$secondary-color--focus: #253038;



/* 
============================================
FONT SIZES
============================================
*/

$base-font-size: 10px;