/* HEADER */
.header {
	height: 100px;
	padding-top: 20px;
	background-color: $primary-color;
	top: 0;

	.status-bar {
		width: 100%;
		height: 20px;
		position: absolute;
		left: 0;
		top: 0;
		background-color: darken($primary-color, 10%);
	}
}

/* LOGO */
.logo {
	float: left;

	width: 60px;
	height: 60px;
	display: block;
	margin: 10px;
	background: url('../img/logo-zuehlke-@1.png');
	text-indent: -10000px;
	background-repeat: no-repeat;

	@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
	    background: url('../img/logo-zuehlke-@2.png');
		-webkit-background-size: 60px 60px;
		background-size: 60px 60px;
	}
}	

/* MENU */
.menu-icon-container {
	padding: 20px 30px;
}
.menu-icon-contaner__icon {
	float: right;
	color: #fff;
}